/* General styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Navbar styles */
  .navbar {
    background-color: #00000011;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 20px;
    z-index: 1001;
  }
  
  .navbar-container,
  .navbar-logo img,
  .menu-bars,
  .search-btn {
    display: flex;
    align-items: center;
  }
  
  .navbar-container {
    width: 100%;
    justify-content: space-between;
  }
  
  .menu-bars,
  .search-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
  }
  
  .navbar-logo img {
    height: 50px;
  }
  
  .nav-menu {
    background-color: #5b5b5b;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 350ms;
    display: flex;
    justify-content: center;
    z-index: 1003;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }
  
  /* Nav menu items */
  .nav-menu-items
   {
    width: 100%;
    list-style: none;
    height: 60px;
    padding:12px 0 8px 0;
    display: flex;
    flex-direction: column;
  }
  
  .navbar-toggle,
  .nav-text a {
    display: flex;
    align-items: center;
    color: #fff;
  }
  
  .nav-text a {
    text-decoration: none;
    font-size: 18px;
    width: 100%;
    display: block;
    padding:1rem 1rem 1rem 0;
    padding-right: 0px;
  }
  
  .nav-text a:hover {
    background-color: #575757;
  }
  
  /* Overlay styles for blurring background when menu is active */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(57, 57, 57, 0.212);
    backdrop-filter: blur(3px);
    z-index: 1002;
    display: none;
    transition: opacity 0.3s ease;
  }
  
  .overlay.active {
    display: block;
    margin:0 auto;
  }
  

  /* Hide the search overlay when the sidebar is active */
  .nav-menu.active ~ .overlay,
  .nav-menu.active ~ .search-container ~ .overlay {
    display: none;
  }

  /* Adjusting the position and size of the 'X' icon in the menu bar */
.menu-bars {
    background: none;        /* Remove any background color */
    border: none;            /* Remove the border */
    font-size: 24px;         /* Adjust the size of the icon */
    cursor: pointer;         /* Change cursor to pointer on hover */
    color: #fff;             /* Set the color of the icon */
    /* position: absolute;      
    top: 20px;           
    left: 20px;           
    width: 40px;             
    height: 40px;             */
    display: flex;           /* Use flexbox for alignment */
    justify-content: center; /* Center the icon horizontally */
    align-items: center;     /* Center the icon vertically */
  }
  
  /* When the sidebar is active */
  .navbar-toggle .menu-bars {
    font-size: 24px;         /* Increase the size of the 'X' when active */
/* margin-top:2px;        */
/* padding:2px; */
margin-left:20px;
  }
  