.search-result-page{
  width:100%;
}

/* Base styles for the movies section */
.movies {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    padding: 2rem; /* Adds spacing inside the element */
    box-sizing: border-box; /* Ensures no overflow */
}


  /* Movies Container */
/* .movies-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    padding: 0 1rem;
  } */
  
  /* Movie Item */
  .movie-item {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  /* Movie Item Hover Effect */
  .movie-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }
  