#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display:flex;
  flex-direction: column;
}

.movie-item{
  /* display:flex; */
  margin:1rem;
  color:white;
  font-size: 2rem;
  background-color: gray;
}

.movies-container{
  /* display: flex; */
  display:grid;
  grid-template-columns: auto auto auto auto;

}


.navbar{
  background-color: white;
  margin-bottom:0;
}

.navlinks{
  /* margin:auto;
  column-gap: 3rem; */
  padding:2rem;
  background-color: beige;
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.nav-link{
  margin:1rem;
}

.movie-item{
  width:8rem;
  /* width:300px;
  padding:1rem;
  margin:2rem; */
  img{
    width:100%;
  }
}

