#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  display:flex;
  flex-direction: column;
}

body{
  background-color: rgb(24, 24, 24);
  margin:0 auto;
  color:white;
}


.movies{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width:100%; */
}

.movie-detail{
  display: flex;
  flex-direction: column;
  text-align: left;
  padding:0 1rem 0 1rem;
  margin:0 1rem 0 1rem;
  /* justify-content: left; */
  /* align-items: center; */
  img{
    width: 2rem;
    /* background-color: black; */
    /* color:azure */
  }
  button{
    background-color: transparent;
    border: 0;
  }
}

.favbutton{
  width: 3rem;
  img{
    width: 2rem;
  }
  background-color: transparent;
  border: 0;
}
.title-overview{
  h2{
    font-size: 2rem;
    margin:0 auto;
  }
}


.casts{
  display: flex;
  flex-direction: row;

}

.infos{
  text-align: left;
  display: flex;
  align-items: center;
  /* justify-content: center; */

}
.info{
  display:flex;
  /* justify-content: ; */
  align-items: center;
  margin-right:1rem
}

.genres{
  display: flex;
  align-items: center;
  p{
    margin-left:1rem
  }
}

.casts{
  display: flex;
  align-items: center;
  p{
    margin-left:1rem
  }
}

.overview{
  p{
    font-size: 1rem;
  }
  background-color: rgb(55, 55, 55);
  border-radius:15px;
  padding:1rem;
}

.rating{
  background-color: orange;
  border-radius:10%;
  width:fit-content

}

/* .movie-item{
  display:flex;
  margin:1rem;
  color:white;
  font-size: 2rem;
  background-color: gray;
} */

.movies-container{
  /* display: flex; */
  display:grid;
  @media only screen and (min-width: 720px){

    grid-template-columns: auto auto auto auto;
  }
  @media only screen and (min-width: 480px) and (max-width: 720px){

    grid-template-columns: auto auto auto;
  }

  @media only screen and (min-width: 400px) and (max-width: 480px){
    grid-template-columns: auto auto;
  }

  @media only screen and (max-width:400px) {
    grid-template-columns: auto auto;
    .movie-item{
      /* width:4rem; */
    }
    .movie-poster{
      width:4rem;
    }
  }
}

section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.single-movie{
  /* width: 500px; */
  /* margin: 2rem; */
  padding: 2rem;
  display: grid;
  grid-template-columns: auto auto;
}


.navbar{
  background-color: white;
  margin-bottom:0;
}

.navlinks{
  /* margin:auto;
  column-gap: 3rem; */
  padding:1rem;
  background-color: beige;
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.nav-link{
  margin:1rem;
}

.movie-item{
  display: flex;
  /* width:8rem; */
  /* justify-self: center; */
  /* width:9rem; */
  margin:1rem;
  background-color: rgb(50, 50, 50);

  /* padding:1rem; */
  /* width:300px;
  padding:1rem;
  margin:2rem; */
  .movie-poster{
    width:9rem;
    /* height: 16rem; */
    /* width:100%; */
    object-fit: cover;
  }

  .movie-poster{
    @media screen and (max-width:400px) {
      width:7rem;
    }
  }
  img{
    width: 2rem;
    /* background-color: black; */
    /* color:azure */
  }

  button{
    background-color: transparent;
    border: 0;
  }
  
  h3{
    font-size: 1rem;

      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      line-height: 1.2em; /* Adjust based on your font size */
      min-height: 2.4em;
      /* height:2.4rem; */
      margin-top:0;
      @media screen and (max-width:400px) {
      font-size: 0.75rem;
      /* min-height: 1.2rem; */
    }
  }


  .more-info-link{
    /* color: rgb(117, 216, 255); */
    font-size: 24px;
  }

  .more-info-link:hover{
    color:rgb(117, 216, 255);
  }
}

.favMovies{
  display: flex;
  flex-direction: column;
  width:10rem;
}

.movie-img-wrapper {
  position: relative;
  /* display: inline-block; */
  /* display: flex; */
}

.movie-info {
  /* display: none;
  position: absolute; */
  top: 0;
  left: 0;
  width: 9rem;
  /* height: 150px; */
  background: rgba(0, 0, 0, 0.8); /* Dark background with some transparency */
  color: white;
  padding: 0.5rem;
  box-sizing: border-box;
  text-align: center;
}

.movie-info{
  @media only screen and (max-width:400px) {
    width:7rem;
  }
}

.movie-img-wrapper:hover .movie-info {
  display: block;
}

.movie-poster {
  display: block;
  max-width: 100%;
  height: auto;
}

.movie-info h3 {
  margin-bottom: 10px;
}

.movie-info button {
  background: none;
  border: none;
  cursor: pointer;
}

.movie-info button img {
  width: 24px;
  height: 24px;
}

.more-info-link {
  display: inline-block;
  margin-top: 10px;
  color: #fff;
  text-decoration: underline;
  font-size: 14px;
  margin:auto;
}

.movies-section-wrapper {
  position: relative; /* Fix the position */
  top:0; /* Stick to the top of the viewport */
  left: 0; /* Stick to the left edge */
  width: 100%; /* Make it span the entire width of the screen */
  background-color: rgb(24, 24, 24); /* Ensure it has a background color to overlay the content behind */
  z-index: 1000; /* Ensure it stays above other content */
  padding: 0 0; /* Optional padding for spacing */
  white-space: nowrap; /* Prevent line breaks in button text */
  overflow-x: auto; /* Allow horizontal scrolling */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
  display: flex;
}

.movies-section-wrapper::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit browsers */
}



.movies-section {
  display: inline-flex; /* Use inline-flex to allow wrapping */
  gap: 10px; /* Adjust gap between buttons */
  padding: 10px 0;
  white-space: nowrap; /* Ensure text doesn't wrap */
  /* justify-content: flex-start; */
  margin-left:2rem;
}

/* Custom scrollbar styles for WebKit browsers */
.movies-section::-webkit-scrollbar {
  height: 8px; 
}

.movies-section::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 10px; 
}

.movies-section::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.movies-section button {
  display: inline-block;
  background-color: #333; /* Background color similar to YouTube */
  color: white;
  border: none;
  font-size: 14px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px; /* Rounded buttons similar to YouTube */
  white-space: nowrap; /* Ensure text doesn't wrap */
@media only screen and (max-width:400px) {
  font-size:0.5rem;
  font-size:10px;
  padding:5px 10px;
}
}

/* Active button styles */
.movies-section button.active {
  background-color: white; /* Active button background color */
  color: black; /* Active button text color */
  font-weight: bold;
}

.movies-section button:not(.active):hover {
  background-color: #555; /* Slightly lighter background on hover */
}

.right-fade {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  background: linear-gradient(to left, rgba(24, 24, 24, 1), rgba(24, 24, 24, 0)); /* Gradient fade effect */
  pointer-events: none; /* Allow clicks to pass through */
}


/* star rating  */

.star-rating {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  line-height: 1;
}

.star-rating-bottom {
  color: rgb(154, 154, 154);
  /* position: absolute; */
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
}

.star-rating-top {
  color: yellow;
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0%;
  display: flex;
}

.star-rating span {
  display: inline-block;
  margin-right: 4px; /* Consistent spacing between stars */
}

.blurred-content {
  filter: blur(8px);
  pointer-events: none; /* Disable interaction with blurred content */
  transition: filter 0.3s ease;
}

.search.active + .blurred-content {
  pointer-events: none;
}

.search.active {
  z-index: 9999;
}

.navbar {
  z-index: 10000; /* Ensure navbar is above everything else */
}

.select-order{
  padding: 0.5rem;
}

.pagination button.active {
  background-color: #007bff; /* Blue background */
  color: white; /* White text */
  border: none; /* Remove border */
  border-radius: 5px; /* Optional: rounded corners */
  padding: 5px 10px; /* Optional: padding */
  cursor: default; /* Change cursor to default */
}

.fav{
  font-size: 24px;
  margin-right:1rem;
  margin:auto
}

.fav:hover{
    color:rgb(117, 216, 255);
    
}

.fav-link{
  display: flex;
  justify-content: center;
  align-items: center;
}